.restaurant-detail-page {
  background-color: white;
  width: 1000px;

  .dish-img {
  	height: 200px;
  	width: 300px;
  }

  .rst-menu-img-list {
    list-style: none;
  }

  .rst-dish-img-item {
    float: left;
  }

  .dish-section {
  }
  
  .order-section {

  }
  .about-us-section {
  }

  .main-section {
    float: left;
    width: 1000px;
  }
}

.page-rest-gallery {
  .restaurant-list {
    width: 300px ;
    margin-left: auto ;
    margin-right: auto ;
  }  

  .form-control {
    display: inline;
  }

}

.page-order-statistics {
  .chartdiv {
    width : 100%;
    height  : 500px;
  } 
}
